@(requests: List[Request], groceries: List[RequestFood], myOffers: List[Offer])
@import java.math.BigInteger; var alreadyOffered = 0;
@home("Bid Requests") {

  <center>

  @if(flash.containsKey("addOfferSuccess")) {
      <div class="alert alert-success" id="offerAddedSuccess" style="width=30%" >
          <a style="width=30%" href='#' class='close' data-dismiss='alert' aria-label='close'>&times; </a> <b>
          Success! </b>@flash.get("addOfferSuccess")
      </div>
  }

      @for(request <- requests) {
    <div name="reqBy@request.restName" class="requestDiv " id="" style="width:30%;border-style: dotted; border-color: #333333">
      <div style="width: 100%; height:100px">

        <div style="float:left;margin-left: 5%"> <br>
          <p><b>Request</b>  #@request.reqId</p>
          <p><b>Restaurant: </b><span class="reqByRes" id="@request.restName">@request.restName</span></p>
        </div>

        <div style="float:right;margin-right: 5%"> <br>
          <p> Request Active</p>
          <b>From:</b><i> @request.dateFrom</i> <br>
          <b>To:</b><i> @request.dateTo</i> <br>
        </div>

      </div>
      <div style="height: 130px;
        overflow: auto">       <br>

        <table class="table-bordered" style="width: 90%;">
          <thead>
            <tr>
              <th style="width: 300px">Name</th>
              <th style="width: 70px">Amount</th>
            </tr>
          </thead>
          <tbody id="vicList">
          @for(victual <- groceries) {
            @if(victual.reqId == request.reqId) {
              <tr  about="@victual.amount"  id="@victual.name">
                <td>@victual.name</td>
                <td>@victual.amount</td>
              </tr>
            }
          }
          </tbody>
        </table> <br>

      </div>
        @{alreadyOffered = 0}
        @for(offer <- myOffers) {
            @if(offer.userId == session.get("userId")) {
                @if(request.reqId == offer.reqId) {
                    @{
                        alreadyOffered = 1
                    }
                }
            }
        }
        @if(alreadyOffered == 1){
            <b style="color:darkorange">OFFER SENT</b>
            <p> Go to <a style="color:darkorange" href="/myOffers">My Offers</a> if you want to edit offer for this request </p>
        } else {
      <button class="btn btn-warning btn-block addOfferBtn" id="addOffer:@request.reqId" data-toggle="modal"
              data-target="#addOfferModal" style="width: 130px;color:black"><b>
                            MAKE AN OFFER</b></button> <br>
        }



    </div> <br> <br>

  }

          <!--- MODAL ZA POTRAZNJU  -->
      <div class="modal fade" id="addOfferModal" >
          <div class="modal-dialog" >
              <div class="modal-content" >
                      <!--  modal header -->
                  <div class="modal-header">
                      <h3 class="modal-title" id="modalTitle" style="color: black;
                          font-family: Verdana;
                          font-size: 24pt"> MAKE A NEW OFFER </h3>
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>
                      <!--  modal body -->
                  <br> <br>
                  <label for="fromTime">Delivery date:</label> <br>
                  <input class="form-control" style="margin-bottom: 15px;
                      width: 250px;" type="date" min="" max="2018-12-31" id="bidDate" name="dueDate" required>
                  <label for="toTime">Price (RSD):</label> <br>
                  <input class="form-control" style="margin-bottom: 15px;
                      width: 250px;" type="text" id="bidPrice" name="bidPrice" required>
                  <label for="toTime">Message (optional):</label> <br>
                  <textarea rows="6"   style="border-radius: 8px;
                      width: 250px;text-align: left;"  id="bidNote" ></textarea>
                  <br>


                  <br> <br> <br>

                  <div style="height:50px;display:none" id="OfferMessage"> </div> <br>



                  <button class="btn btn-warning btn-block makeOfferBtn"  id="makeOffer"  style="width: 125px; float:left; margin-top:4px; margin-left:185px;
                            "> MAKE OFFER </button>
                  <button class="btn btn-warning btn-block" id="closeOfferModal"  style="width: 80px;float:left; margin-left:20px;
                             "> DISCARD </button> <br> <br>
                  <div> <p style="margin:50px;"></p> </div>




                      <!--  modal footer -->
                  <div class="modal-footer">
                  </div>
              </div>
          </div>
      </div>


  </center>


  <script>


          $(function() {
              $("#reqButton").css("color", "#ffb79b");
              $("#searchDiv").css("visibility", "visible");

          });


          var reqId;

          // min i startni datum ------
          var d = new Date();
          var month = d.getMonth()+1;
          var day = d.getDate();
          var dayplus = d.getDate()+1;
          var bidDate = d.getFullYear() + '-' +
                  (month<10 ? '0' : '') + month + '-' +
                  (day<10 ? '0' : '') + dayplus;
          $("#bidDate").attr("min", bidDate);
          $("#bidDate").val(bidDate);





          $(".addOfferBtn").click(function () {

              var buttonId = $(this).attr('id');
              var buttonIDD = buttonId.split(':');
              reqId = buttonIDD[1];
              $("#modalTitle").text("");
              $("#modalTitle").append("MAKE A NEW OFFER FOR REQUEST #" + reqId);

          });

           $(".makeOfferBtn").click(function () {

           var dueDate = $("#bidDate").val();
           var price = $("#bidPrice").val();
           var message = $("#bidNote").val();
               var minDate = new Date(bidDate);
               var maxDate = new Date("2020/1/16");
               var odabran = new Date(dueDate);

               if(odabran > maxDate ||  odabran < minDate )
               {
                   $("#OfferMessage").html("<div class='alert alert-danger'  > <a href='#' class='close' data-dismiss='alert' aria-label='close'>&times; </a> <b> Oops! </b> Please choose a valid date! :) </div>");
                   $("#OfferMessage").show();
               }
               else if ( price == ""){
                   $("#OfferMessage").html("<div class='alert alert-danger'  > <a href='#' class='close' data-dismiss='alert' aria-label='close'>&times; </a> <b> Oops! </b> You must fill the price field! :) </div>");
                   $("#OfferMessage").show();
               }
              else if (isNaN(price)){
                   $("#OfferMessage").html("<div class='alert alert-danger'  > <a href='#' class='close' data-dismiss='alert' aria-label='close'>&times; </a> <b> Oops! </b> Unfortunately, price is supposed to be a number :) </div>");
                   $("#OfferMessage").show();
               }
               else {

                   var offer = {
                       'reqId': reqId, 'price': price,  'dueDate': dueDate,
                       'message': message
                   };


                   myJsRoutes.controllers.Bids.makeOffer().ajax({
                       data: JSON.stringify(offer),
                       dataType: 'json',
                       contentType: 'application/json',
                       success: function () {

                           $("#bidPrice").val('');
                           $("#bidNote").val('');
                           $("#bidDate").val(bidDate);
                           window.location.replace("/offerAddedFlash");
                       },
                       error: function () {
                           $("#OfferMessage").html("<div class='alert alert-danger'  > <a href='#' class='close' data-dismiss='alert' aria-label='close'>&times; </a> <b> Oops! </b> We have some problems.. </div>");
                           $("#OfferMessage").show();

                       }



                   });
               }
           });


          $("#closeOfferModal").click(function() {
              $("#addOfferModal").modal('toggle');
              $("#bidDate").val(bidDate);
              $("#bidPrice").val('');
              $("#bidNote").val('');
              $("#OfferMessage").hide();
          });


          $("#trazi").click(function() {

              $('.requestDiv').each(function() {
                  $(this).show();
              });

              var filter = $("#toSearch").val();

              $('.reqByRes').each(function() {

                  var this_id = $(this).attr("id");

                  if($(this).text().indexOf(filter) == -1){
                      $("div[name=\"reqBy"+this_id+"\"]").hide(300);
                    //  $("#reqBy"+this_id).hide(300);

                  }
              });

          });


  </script>
}
