@(menu: List[VictualAndDrink], seats: List[RestSection], sizeSqrt: Int, sectors: List[RestSection])
@import java.math.BigInteger; var i = 1;

@home("Edit Menu and Seating") {
<center>



    <div id="secondStepRest" style="width: 800px">

        <hr style="width: 100%;
            color: black;
            height: 1px;
            background-color: #d8d8d8;" />
        <h3 style="color: #ff6600"> Edit Seat Configuration </h3>
        <hr style="width: 100%;
            color: black;
            height: 1px;
            background-color: #d8d8d8;" />
        <div id="seatConfig" style="height: auto">
            <div id="seatInfo" style="float: left;
                margin-left: 20px;">
                <b>Restaurant section name:</b>  <input class = "form-control" type="text" id="sectionName" maxlength="25">
                <b> Section color:</b>     <select class="form-control" id="sectionColor">
                <option value="blue">blue</option>
                <option value="red">red</option>
                <option value="yellow">yellow</option>
                <option value="purple">purple</option>
                <option value="pink">pink</option>
                <option value="green">green</option>
                <option value="brown">brown</option>
                <option value="lightgrey">lightgray</option>
            </select> <br>
                <a class="btn btn-warning" id="addSection" > ADD </a> <br> <br>
                <p id="sectionsErrMessage" style="color:red"></p>
                <p><b> LEGEND: </b></p>
                Wall: <div class='sectionPicker' id="black" style="width: 32px;
                height: 32px;
                cursor: pointer;
                background-color: black;
                border: 1px solid orange;">  </div>  <br>
                @for(sector <- sectors) {
                    <div  id="@sector.sectionColor|block">
                    @sector.sectionName
                    : <span style="color:#e85c00;margin-left:0px;font-size: 14px;cursor:pointer" class="glyphicon glyphicon-remove removeSector" id="@sector.sectionColor|remove" aria-hidden="true"></span> <div class='sectionPicker' id="@sector.sectionColor" style="width: 32px;
                        height: 32px;
                        cursor:pointer;
                        background-color:
                    @sector.sectionColor;
                        border: 1px solid antiquewhite;"> </div> </div>
                    <br>
                    }
            </div> <br>
            <p style="margin-left: 100px"> <b>Seating plan:</b>  </p>
            <div id = "seatTable" class="divTable" style=" width: 450px;
                height: 450px;
                border: 1px solid #dbdbdb;
            ">

                <div class="divTableBody">

                @for(seat <- seats) {
                    @{
                        i = i - 1
                    }
                    @if(i == 0) {
                        <div class="divTableRow">
                            @{
                                i = sizeSqrt
                            }
                        }
                    <div id="seat:@seat.posX:@seat.posY:|@seat.sectionColor|@seat.status" class="divTableCell" style="cursor:pointer;background-color:
                    @seat.sectionColor;"></div>
                    @if(i == 1) {
                            <!-- DivTableRow end --> </div>
                    }
                }
                </div>
                    <!-- DivTable end --></div> <br> <br> <br> <br>
        </div> <!-- seat confi end -->
        <hr style="width: 100%;
            color: black;
            height: 1px;
            background-color: #d8d8d8;" />
        <h3 style="color: #ff6600"> Edit Food Menu </h3>
        <hr style="width: 100%;
                color: black;
                height: 1px;
                background-color: #d8d8d8;" />

        <label for="vicName">Victual Name:</label> <br>
        <input class="form-control" style="margin-bottom: 15px;
                width: 300px;" type="text" name="vicName" id="vicName" >
        <label for="vicDesc">Victual Description:</label> <br>
        <input class="form-control" style="margin-bottom: 15px;
                width: 300px;" type="text" name="vicDesc" id="vicDesc" >
        <label for="vicPrice">Victual Price(RSD):</label> <br>
        <input class="form-control" style="margin-bottom: 15px;
                width: 300px;" type="text" name="vicPrice" id="vicPrice" >
        <p id="vicErrMessage" style="color: red;
                display: none"> </p>
        <a class="btn btn-warning" id="addVictual" style="width: 150px"> ADD A VICTUAL </a> <br> <br>
        <div style="height: 130px;
                overflow: auto">
            <table class="table-bordered table-striped" style="width: 630px;">
                <thead>
                <tr>
                    <th style="width: 250px">Victual Name</th>
                    <th style="width: 360px">Victual Description</th>
                    <th style="width: 70px">Price(RSD)</th>
                    <th></th>
                </tr>
                </thead>
                <tbody id="vicList">
                @for(victual <- menu) {
                    @if(victual.tip == "victual") {
                        <tr><td id="@victual.name">@victual.name</td>
                            <td>@victual.description</td>
                            <td>@victual.price</td>
                            <td><span style="color:#e85c00;margin-left:0px;font-size: 14px;cursor:pointer" class="glyphicon glyphicon-remove removeVicOrDrink" id="@victual.name|remove" aria-hidden="true"></span></td>
                        </tr>
                    }
                }
                </tbody>
            </table>
        </div>
        <hr style="width: 100%;
                color: black;
                height: 1px;
                background-color: #d8d8d8;" />
        <h3 style="color: #ff6600"> Edit Drink Menu </h3>
        <hr style="width: 100%;
                color: black;
                height: 1px;
                background-color: #d8d8d8;" />

        <label for="drinkName">Drink Name:</label> <br>
        <input class="form-control" style="margin-bottom: 15px;
                width: 300px;" type="text" id="drinkName" >
        <label for="drinkDesc">Drink Description:</label> <br>
        <input class="form-control" style="margin-bottom: 15px;
                width: 300px;" type="text" id="drinkDesc" >
        <label for="drinkPrice">Drink Price(RSD):</label> <br>
        <input class="form-control" style="margin-bottom: 15px;
                width: 300px;" type="text" id="drinkPrice" >
        <p id="drinkErrMessage" style="color: red"> </p>
        <a class="btn btn-warning" id="addDrink" style="width: 150px"> ADD A DRINK </a> <br> <br>

        <div style="height: 130px;
                overflow: auto">
            <table class="table-bordered table-striped" style="width: 630px;">
                <thead>
                <tr>
                    <th style="width: 250px">Drink Name</th>
                    <th style="width: 360px">Drink Description</th>
                    <th style="width: 70px">Price(RSD)</th>
                    <th></th>
                </tr>
                </thead>
                <tbody id="drinkList">
                @for(drink <- menu) {
                    @if(drink.tip == "drink") {
                        <tr><td id="@drink.name">@drink.name</td>
                            <td>@drink.description</td>
                            <td>@drink.price</td>
                            <td><span style="color:#e85c00;margin-left:0px;font-size: 14px;cursor:pointer" class="glyphicon glyphicon-remove removeVicOrDrink" id="@drink.name|remove" aria-hidden="true"></span></td>
                        </tr>
                    }
                }
                </tbody>
            </table>
        </div>

        <br><br>
        <button class="btn btn-warning btn-block addRestFinish" id="addRestFinish" style="width: 250px"><b>
            FINISH</b></button>
        <br> <br>
    </div>
</center>
}

<script>
    // add Victual ajax call
    $("#addVictual").click(function () {


        var vicName = $('#vicName').val();
        if(vicName == ""){
            $("#vicErrMessage").html("You must enter a victual name!").fadeIn();
        }
        else {
            if ($("#" + vicName).length == 0) {
                var vicDesc = $('#vicDesc').val();
                var vicPrice = $('#vicPrice').val();
                var victual = {
                    'name': vicName, 'description': vicDesc,
                    'price': vicPrice

                };
                myJsRoutes.controllers.Restaurants.editVictualAJAX().ajax({
                    data: JSON.stringify(victual),
                    contentType: 'application/json',
                    success: function (jelo) {
                        $('#vicList').append('<tr> <td id="' + jelo.name + '">' + jelo.name + '</td> <td>'
                                + jelo.description + '</td> <td>' + jelo.price + '</td><td>' +
                                '<span style="color:#e85c00;margin-left:0px;font-size: 14px;cursor:pointer" class="glyphicon glyphicon-remove removeVicOrDrink" id="' + jelo.name + '|remove" aria-hidden="true"></span></td> </tr>');
                        $("#vicErrMessage").html("");
                        $('#vicName').val("");
                        $('#vicDesc').val("");
                        $('#vicPrice').val("");
                    },
                    error: function () {
                        $("#vicErrMessage").html("You cannot put letters in the price box").fadeIn();
                        $('#vicPrice').val("");
                    }
                });
            }
            else {
                $("#vicErrMessage").html("Sorry, you cannot add victual/drink with the same name").fadeIn();
            }
        }
    });

    // add Drink ajax call
    $("#addDrink").click(function () {


        var drinkName = $('#drinkName').val();
        if(drinkName == ""){
            $("#drinkErrMessage").html("You must enter a drink name!").fadeIn();
        }
        else {
            if ($("#" + drinkName).length == 0) {
                var drinkDesc = $('#drinkDesc').val();
                var drinkPrice = $('#drinkPrice').val();
                var victual = {
                    'name': drinkName, 'description': drinkDesc,
                    'price': drinkPrice
                };
                myJsRoutes.controllers.Restaurants.editDrinkAJAX().ajax({
                    data: JSON.stringify(victual),
                    contentType: 'application/json',
                    success: function (pice) {
                        $('#drinkList').append('<tr> <td id="' + pice.name + '">' + pice.name + '</td> <td>'
                                + pice.description + '</td> <td>' + pice.price + '</td>' +
                                '<td><span style="color:#e85c00;margin-left:0px;font-size: 14px;cursor:pointer" class="glyphicon glyphicon-remove removeVicOrDrink" id="' + pice.name + '|remove" aria-hidden="true"></span></td> </tr>');
                        $("#drinkErrMessage").html("");
                        $('#drinkName').val("");
                        $('#drinkDesc').val("");
                        $('#drinkPrice').val("");
                    },
                    error: function () {
                        $("#drinkErrMessage").html("You cannot put letters in the price box").fadeIn();
                        $('#drinkPrice').val("");
                    }
                });
            }
            else {
                $("#drinkErrMessage").html("Sorry, you cannot add victual/drink with the same name").fadeIn();
            }
        }
    });


    // remove drinks and victuals
    $(document).on("click", '.removeVicOrDrink', function () {
        var this_id = $(this).attr('id').split("|");
        var this_drink_vict = this_id[0];
        $(this).parent().parent().remove();
        var vic_drink = { "name" : this_drink_vict};
        myJsRoutes.controllers.Restaurants.removeVictualOrDrink().ajax({

            data: JSON.stringify(vic_drink),
            dataType: 'json',
            contentType: 'application/json',
            success: function () {

            }
        });


    });


    // seat config
    var josjedan = true;
    $(document).on("click", "#addSection", function () {

        var sectionName = $('#sectionName').val();
        var sectionColor = $('#sectionColor').val();
        $("#sectionColor option[ value = " + sectionColor + " ]").remove();

        var section = {
            'sectionName': sectionName, 'sectionColor': sectionColor
        };
        $("#sectionsErrMessage").html("");
        myJsRoutes.controllers.Restaurants.editSeatSection().ajax({
            data: JSON.stringify(section),
            contentType: 'application/json',
            success: function (sekcija) {
                if($('#sectionColor option').length >= 0 && josjedan == true){
                    if($('#sectionColor option').length == 0)
                        josjedan=false;

                $("#seatInfo").append("<div id='" + sekcija.sectionColor + "|block'>" + sekcija.sectionName + ": <span id='" + sekcija.sectionColor + "|remove' style='color:#e85c00;margin-left:0px;font-size: 14px;cursor:pointer' class='glyphicon glyphicon-remove removeSector' aria-hidden='true'></span> <div class='sectionPicker' id='" + sekcija.sectionColor + "' style='width:32px;cursor:pointer;height:32px;background-color:" + sekcija.sectionColor + ";border: 2px solid #dbdbdb;'> </div> </div> <br>");
                }
            },
            error: function(sekcija) {
                $("#sectionsErrMessage").html("Sorry, no more section colors");
            }
        });

    });

    var pickedColor = "black";
    $(document).on("click", '.sectionPicker', function () {
        $(".sectionPicker").css('border-color', '#dbdbdb');
        $(this).css("border-color", "orange");

        pickedColor = $(this).attr('id');


    });

    // remove sector
    $(document).on("click", '.removeSector', function () {
        var this_sector = $(this).attr('id');
        var this_color = this_sector.split("|");
        var this_div = this_color[0] + "|block";
        $(this).parent().remove();
        var section = {
            'sectionColor': this_color[0]
        };


        myJsRoutes.controllers.Restaurants.removeSector().ajax({
          //  data: {"sectionColor" : this_color[0]},
            data: JSON.stringify(section),
            dataType: 'json',
            contentType: 'application/json',
            success: function (section) {
                $('#sectionColor').append($('<option>', {
                    value: section.sectionColor,
                    text: section.sectionColor
                }));
                $(".divTableCell").each(function () {
                    var polje = $(this).attr('id').split("|");
                    if(polje[1] == section.sectionColor){
                        $(this).attr("id", polje[0] + "|none");
                        $(this).css("background-color", "inherit");
                    }

                });
            }
        });

    });

    $(".divTableCell").click(function () {
        var this_id = $(this).attr('id');
        var new_id = this_id.split('|');
        if(new_id[2] == "free") {
            if (new_id[1] == pickedColor) {
                $(this).css("background-color", "#fff1cc");
                $(this).attr("id", new_id[0] + "|none|" + new_id[2]);

            }
            else {
                $(this).css("background-color", pickedColor);
                $(this).attr("id", new_id[0] + "|" + pickedColor + "|" + new_id[2]);
            }
            $("#sectionsErrMessage").html("");
        }
        else {
            $("#sectionsErrMessage").html("You cannot edit reserved table");
        }

    });

    // at finish
    $(".addRestFinish").click(function () {

        var raspored = [];
        $(".divTableCell").each(function () {
            var pozicija = $(this).attr('id');
            raspored.push(pozicija);
        });

        myJsRoutes.controllers.Restaurants.editSeatConf().ajax({
            data: JSON.stringify({raspored: raspored}),
            dataType: 'json',
            contentType: 'application/json',
            success: function () {

            }
        });

        setTimeout(function () {
            window.location.replace("/restAddedFlash");
        }, 850);       // da bi stigao da ucita i prikaze lepo sve stolove



    });

    $(document).ready(function () {

        $("#sectionColor > option").each(function() {
            @for(sector <- sectors){
            if(this.value == '@sector.sectionColor'){
            $("#sectionColor option[ value = " + this.value + " ]").remove();
            }
            }
        });

    });

</script>