@(userEmail: String)
@home("Friends") {
    <script src="assets/javascripts/sorttable.js"></script>
    <i style="float: right;
        margin-right: 40px;">logged in: <b>@userEmail</b> </i> <br> <br>

    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="panel panel-default panel-table">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col col-xs-6">
                                    <form id="searchForm">
                                        Name: <input type="text" id="searchTextName"
                                            oninput="setCustomValidity('')"> <br>
                                        Surname: <input type="text" id="searchTextSurname"
                                            oninput="setCustomValidity('')"> <br>
                                            <button type="button" id="searchButton" onclick="fetchSearchResults()">Search</button>
                                    </form>
                            </div>
                            <div class="col col-xs-6 text-right">
                                    <!-- <button type="button" class="btn btn-sm btn-primary btn-create">Add New</button> -->
                                <input id="hideSearchDivButton" type="button" value="Hide/show"
                                style="position:absolute; top:0; right:0;"
                                onclick="hideShowElement('searchDiv')">
                            </div>
                        </div>
                    </div>
                    <div class="panel-body" id="searchDiv" style="display: none">
                        <table class="table table-striped table-bordered table-list sortable">
                            <thead>
                                <td>Name</td>
                                <td>Surname</td>
                                <td class="sorttable_nosort">Actions</td>
                            </thead>
                            <tbody id="searchResultsTableBody">
                            </tbody>
                        </table>

                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="panel panel-default panel-table">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col col-xs-6">
                                <h4>Pending friend requests</h4>
                            </div>
                            <div class="col col-xs-6 text-right">
                                <input id="hidePendingDivButton" type="button" value="Hide/show"
                                style="position:absolute; top:0; right:0;"
                                onclick="hideShowElement('pendingDiv')">
                            </div>
                        </div>
                    </div>
                    <div class="panel-body" id="pendingDiv" style="display: none">
                        <table class="table table-striped table-bordered table-list sortable">
                            <thead>
                                <td>Name</td>
                                <td>Surname</td>
                                <td class="sorttable_nosort">Actions</td>
                            </thead>
                            <tbody id="pendingTableBody">
                            </tbody>
                        </table>

                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="panel panel-default panel-table">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col col-xs-6">
                                <h4>Friends list</h4>
                            </div>
                            <div class="col col-xs-6 text-right">
                                <input id="hideFriendsDivButton" type="button" value="Hide/show"
                                style="position:absolute; top:0; right:0;"
                                onclick="hideShowElement('friendsDiv')">
                            </div>
                        </div>
                    </div>
                    <div class="panel-body" id="friendsDiv" style="display: none">
                        <table class="table table-striped table-bordered table-list sortable">
                            <thead>
                                <td>Name</td>
                                <td>Surname</td>
                                <td class="sorttable_nosort">Actions</td>
                            </thead>
                            <tbody id="friendsTableBody">
                            </tbody>
                        </table>

                    </div>
                </div>

            </div>
        </div>
    </div>

    <script>
            $("#friendsButton").css("color", "#ffb79b");
    </script>
    <script src="assets/javascripts/friendsScript.js"></script>

}