@(requests: List[Request], groceries: List[RequestFood], offers: List[Offer],acceptedRequests: List[Request] )

@home("My offers") {

    <center>
        <div style="width: 30%">
        <ul class="nav nav-tabs"  >
            <li class="active"><a data-toggle="tab" href=".offerDiv">All offers</a></li>
            <li><a data-toggle="tab"  href=".activeOffer">Active</a></li>
            <li><a data-toggle="tab" href=".acceptedOffer">Accepted</a></li>
        </ul>
        </div> <br>
        <div class="tab-content">
        @for(request <- requests) {
            <div class="activeOffer tab-pane fade in active "> </div>
            @for(offer <- offers) {
                @if(offer.reqId == request.reqId) {
                @if(request.restName == session.get("myRestName")) {

                    <div class=" offerDiv activeOffer tab-pane fade in active ">
            <div name="reqBy@request.restName" class="" id="offerDiv:@offer.offerId" style="width:45em;border-style: dotted; border-color: #333333">
                <div style="width: 100%; height:100px">

                    <div style="float:left;margin-left: 5%"> <br>
                        <p><b>Request</b>  #@request.reqId</p>
                        <p><b>Bidder: </b> @offer.bidderName, <i>@offer.bidderEmail</i></p>

                    </div>

                    <div style="float:right;margin-right: 5%"> <br>
                        <p> Request Active</p>
                        <b>From:</b><i> @request.dateFrom</i> <br>
                        <b>To:</b><i> @request.dateTo</i> <br>
                    </div>

                </div>
                <div style="height: 130px;
                    overflow: auto">       <br>

                    <table class="table-bordered" style="width: 90%;">
                        <thead>
                            <tr>
                                <th style="width: 300px">Name</th>
                                <th style="width: 70px">Amount</th>
                            </tr>
                        </thead>
                        <tbody id="vicList">
                        @for(victual <- groceries) {
                            @if(victual.reqId == request.reqId) {
                                <tr  about="@victual.amount"  id="@victual.name">
                                    <td>@victual.name</td>
                                    <td>@victual.amount</td>
                                </tr>
                            }
                        }
                        </tbody>
                    </table> <br>

                </div>
                <br>
                <div>
                     <b> OFFER DETAILS: </b> <hr style="border-color:dimgrey">
                <div style="float:left">
                <label for="fromTime">Delivery date:</label> <br>
                <input class="form-control editInput" disabled style="margin-bottom: 15px; margin-left: 10px;
                    width: 150px;" type="date" value="@offer.dueDate" min="" max="2018-12-31" id="dueDate:@offer.offerId" required>
                </div>
                <div style="float:left">
                <label for="toTime">Price (RSD):</label> <br>
                <input  class="form-control editInput" disabled value="@offer.price" style="margin-bottom: 15px; margin-left: 10px;
                    width: 95px;" type="text" id="bidPrice:@offer.offerId" name="bidPrice" required>
                </div>

                <label for="toTime">Message (optional):</label> <br>
                <textarea class="editInput" disabled rows="5" style="border-radius: 8px;
                    width: 270px;text-align: left;"  id="bidNote:@offer.offerId" >@offer.message</textarea>
                </div>
                <br>
                <div style="height:50px;display:none" id="AcceptOfferMessage@offer.offerId"> </div> <br>

                <button class="btn btn-block btn-success acceptOfferBtn acceptOfferBtn:@request.reqId btn:@offer.offerId" id="acceptOfferBtn:@request.reqId:@offer.offerId"
                 style="width: 130px;color:black" ><b>
                    ACCEPT OFFER</b></button> <br>

            </div>
                    <br> <br> </div>
                }
                }
            }
        }

        @for(request <- acceptedRequests) {
            <div class=" acceptedOffer tab-pane fade in active"> </div>
            @for(offer <- offers) {
                @if(offer.reqId == request.reqId) {
                @if(request.acceptedOfferId == offer.offerId) {
                    <div class="offerDiv acceptedOffer tab-pane fade in active">
                    <div name="reqBy@request.restName"  id="" style="width:30%;border-style: dotted; border-color: green">
                        <div style="width: 100%; height:100px">

                            <div > <br>
                                <p><b>Request</b>  #@request.reqId</p>
                                <p><b>Bidder: </b> @offer.bidderName, <i>@offer.bidderEmail</i></p>
                            </div>



                        </div>
                        <div style="height: 130px;
                            overflow: auto">       <br>

                            <table class="table-bordered" style="width: 90%;">
                                <thead>
                                    <tr>
                                        <th style="width: 300px">Name</th>
                                        <th style="width: 70px">Amount</th>
                                    </tr>
                                </thead>
                                <tbody id="vicList">
                                @for(victual <- groceries) {
                                    @if(victual.reqId == request.reqId) {
                                        <tr  about="@victual.amount"  id="@victual.name">
                                            <td>@victual.name</td>
                                            <td>@victual.amount</td>
                                        </tr>
                                    }
                                }
                                </tbody>
                            </table> <br>

                        </div>
                        <br> <b> OFFER DETAILS: </b> <hr style="border-color:green">
                        <div>
                            <div style="float:left">
                                <label for="fromTime">Delivery date:</label> <br>
                                <input class="form-control" disabled style="margin-bottom: 15px; margin-left: 10px;
                                    width: 150px;" type="date" value="@offer.dueDate" min="" max="2018-12-31" id="dueDate:@request.reqId" required>
                            </div>
                            <div style="float:left">
                                <label for="toTime">Price (RSD):</label> <br>
                                <input  class="form-control" disabled value="@offer.price" style="margin-bottom: 15px; margin-left: 10px;
                                    width: 95px;" type="text" id="bidPrice:@request.reqId" name="bidPrice" required>
                            </div>

                            <label for="toTime">Message (optional):</label> <br>
                            <textarea  disabled rows="5" style="border-radius: 8px;
                                width: 270px;text-align: left;"  id="bidNote:@request.reqId" >@offer.message</textarea>
                        </div>
                        <br>
                        <b style="color:green"> ACCEPTED OFFER </b> <br> <br>

                    </div> <br> <br> </div>

                    }
            }
            }
        }

        </div>
    </center>


    <script>
            var reqId;
            var offerId;

            $(function() {


                // change color of the 'requests' option in the navbar
                $("#myOffersButton").css("color", "#ffb79b");
                //   $("#searchDiv").css("visibility","visible");


            });


            $(".acceptOfferBtn").click(function () {

                var buttonId = $(this).attr('id');
                var buttonIDD = buttonId.split(':');
                reqId = buttonIDD[1];
                offerId = buttonIDD[2];
                var request = { 'reqId' : reqId , 'acceptedOfferId': offerId, 'restName': '@session.get("myRestName")'
                };
                    myJsRoutes.controllers.Bids.acceptOffer().ajax({
                        data: JSON.stringify(request),
                        dataType: 'json',
                        contentType: 'application/json',
                        success: function () {
                            $("#AcceptOfferMessage"+offerId).html("<div class='alert alert-success'  > <a href='#' class='close' data-dismiss='alert' aria-label='close'>&times; </a> <b> Success! </b> Offer accepted! </div>");
                            $("#AcceptOfferMessage"+offerId).show();
                            $("#acceptOfferBtn\\:" + reqId + "\\:" + offerId).hide();
                            $(".acceptOfferBtn\\:" + reqId).attr("disabled", "disabled");


                        },
                        error: function () {
                            $("#AcceptOfferMessage"+offerId).html("<div class='alert alert-danger'  > <a href='#' class='close' data-dismiss='alert' aria-label='close'>&times; </a> <b> Oops! </b> We have some problems.. </div>");
                            $("#AcceptOfferMessage"+offerId).show();

                        }
                    });



            });




    </script>
}
