@(menu: List[VictualAndDrink])

@home("Order"){
    <div>
        <i style="float: right;
            margin-right: 40px;">logged in: <b>@session.get("connected")</b> </i> <br> <br>

        <center>

            @if(session.get("userType").equals("waiter")) {
                <div class="container-fluid" style="width: 70%; background-color: #e0ebeb; border-color: black;
                border-style: solid; border-width: 1px; border-radius: 20px">
                    <h1>Create a new order</h1>
                    <br> <br>
                    <form>
                    <div class="col-sm-3 col-md-4 col-lg-2" >
                        <div class="form-group">
                            <select class="input-large form-control" style="width: 150px">
                                <!-- for petljom dodaj sve musteriji koje imaju rezervaciju trenutno -->
                                <option name="brRez+imeIPrezime">2: Miljan Maljkovic</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-8" >

                        <div class="col-sm-3 col-md-4 col-lg-4" >

                        </div>

                        <div class="col-sm-6 col-md-4 col-lg-4" style="text-align: center;">
                          <input type="text" class="form-control" id="usr" placeholder="cena" readonly>
                        </div>

                          <div class="col-sm-3 col-md-4 col-lg-4" >



                        </div>
                    </div>

                    <div class="col-sm-3 col-md-4 col-lg-2" >
                        <p>Govedji restoran</p>
                    </div>

                    <br><br><br>
                    <div class="col-lg-7" >
                        <br> <br>
                        <b style="align-content: center;font-size: medium"> FOOD MENU </b> <br> <br>
                        <div  style="height: 130px;
                            overflow: auto">
                        <table class="table-bordered" style="width: 450px;">
                            <thead>
                                <tr>
                                    <th style="width: 150px">Victual Name</th>
                                    <th style="width: 260px">Victual Description</th>
                                    <th style="width: 60px">Victual(RSD)</th>

                                </tr>
                            </thead>
                            <tbody id="vicList">
                            @for(victual <- menu) {
                                @if(victual.tip == "victual") {
                                    <tr style="cursor:pointer" about="@victual.price" class="orderFood" id="@victual.name">
                                        <td>@victual.name</td>
                                        <td>@victual.description</td>
                                        <td>@victual.price</td>
                                    </tr>
                                }
                            }
                            </tbody>
                        </table>
                        </div>
                        <br>
                            <b style="align-content: center;font-size: medium"> DRINK MENU </b> <br> <br>
                        <div  style="height: 130px;
                            overflow: auto">
                        <table class="table-bordered" style="width: 450px;">
                        <thead>
                            <tr>
                                <th style="width: 150px">Drink Name</th>
                                <th style="width: 260px">Drink Description</th>
                                <th style="width: 60px">Price(RSD)</th>

                            </tr>
                        </thead>
                        <tbody id="drinkList">
                        @for(drink <- menu) {
                            @if(drink.tip == "drink") {
                                <tr style="cursor:pointer" about="@drink.price" class="orderFood" id="@drink.name">
                                    <td>@drink.name</td>
                                    <td>@drink.description</td>
                                    <td>@drink.price</td>
                                </tr>
                            }
                        }
                        </tbody>
                        </table>
                        </div>

                    </div>
                        <br> <br>
                        <b style="align-content: center;font-size: medium"> ORDER </b> <br> <br>
                    <div class="col-lg-5">
                        <table class="table-bordered table-striped" style="width: 300px;">
                            <thead>
                                <tr>
                                    <th style="width: 150px">Name</th>
                                    <th style="width: 60px">Price (RSD)</th>
                                    <th style="width: 60px">Amount</th>

                                </tr>
                            </thead>
                            <tbody id="orderList">

                            </tbody>
                        </table>
                    </div>

                    <div class="col-lg-12">
                        <br> <br>
                        <button class="btn btn-warning btn-block " id="addOrder" style="width: 150px"><b>
                            ADD ORDER</b></button>
                        <br> <br>
                    </div>
                    </form>
                </div>
            }

        </center>

    </div>

    <script>
        $(document).ready(function(){

            // promena boje dugmeta kad je na profilnoj
            $("#newOrderButton").css("color", "#ffb79b");

            $('.orderFood').on('click', function(e) {
                //name to add
                var name = $(this).attr('id');
                //price to add
                var price = $(this).attr('about');
                //check if food is already in order list
                var check = false;

                $("#orderList").each(function(){
                    $(this).find('td').each(function(){
                        if($(this).text() === name) {
                            var current_price = $("#" + name + "price").text();
                            $("#" + name + "price").html(parseInt(current_price) + 1);
                            check = true;
                        }
                    });
                });

                if(!check){
                    $("#orderList").append("<tr> <td>" + name + "</td>"
                            + "<td>" + price + "</td>"
                            + "<td id=\"" + name + "price\">" + "1</td></tr>");
                }

                e.preventDefault();
            });


            $("#addOrder").on('click', function(e){
                // order Id ce biti broj rezervacije gde se kreira porudzbina
                var order = {"orderId": "0", "victualsDrinks": []};

                var global_price = 0.0;
                var prices = [];

                $("#orderList").each(function(){
                    $(this).find('tr').each(function(){
                        var i = 0;
                        var item = {};
                        $(this).find('td').each(function(){
                            var item_price = 0.0;
                            if(i === 0){
                                item["name"] = $(this).text();
                            } else if(i === 1){
                                item["price"] = $(this).text();
                            } else if(i === 2){
                                item["quantity"] = $(this).text();
                                item_price = parseFloat(item["price"]) * parseInt(item["quantity"]);
                            }
                            prices.push(item_price);
                            i++;
                        });
                        order["victualsDrinks"].push(item);
                    });
                });

                prices.forEach(function(element) {
                    global_price += element;
                });

                order["price"] = global_price.toString();

                console.log(order);

                /*Object.keys(order).forEach(function() {
                    var value = order["victualsDrinks"];
                    console.log(value);
                });*/

                $.ajax({
                    type: "POST",
                    url: "/createOrder",
                    data: JSON.stringify(order),
                    contentType: 'application/json',
                    success: function (response) {
                        alert(response);
                    },
                    error: function (error) {
                        alert(error.responseText);
                    }

                });

                e.preventDefault();
            });
        });
    </script>
}