@(email: String, fname: String, lname: String, userType: String,
        sizeSqrt: Int, seats: List[RestSection], sectors: List[RestSection], times: List[WorkTime])
@import java.math.BigInteger; var i = 1;

@home("Profile") {


    <div >
        <center>
        <div>


            <form method="post" action="/edit_profile" accept-charset="UTF-8">
                <label for="fname">First Name:</label> <br>
                <input id="fname" class="form-control" style="margin-bottom: 15px;
                    width: 250px" type="text" value="@fname" name="fname" >
                <label for="lname">Last Name:</label> <br>
                <input id="lname" class="form-control" style="margin-bottom: 15px;
                    width: 250px" type="text" value="@lname" name="lname" >
                <label for="email">E-mail:</label> <br>
                <input class="form-control" style="margin-bottom: 15px;
                    width: 250px" type="text" placeholder="@email" name="email" disabled>
                <label for="tip">Role:</label> <br>
                <input class="form-control" style="margin-bottom: 15px;
                    width: 250px" type="text" placeholder="@userType" name="tip" disabled> <br>
                <input class="form-control" style="margin-bottom: 15px;
                    width: 250px" type="password" placeholder="Type in old password" name="old_password"> <br>
                <input id="npass" class="form-control" style="margin-bottom: 15px;
                    width: 250px" type="password" placeholder="Type in new password" name="new_password"> <br>
                <button id="saveChanges" class="btn btn-warning btn-block" type="submit" id="sign-in" style="width: 200px;
                    color: black" disabled><b>SAVE CHANGES</b></button> <br> <br>

            </form>
        </div>

            @if(userType.equals("waiter") || userType.equals("chef") || userType.equals("bartender")) {
                @if(userType.equals("waiter")){
                    <div id="seatConfig" style="height: auto; width:550px;display: inline-block">
                        <h3> Seat configuration: </h3> <br>
                            <div id="seatInfo" style="float: left;
                                margin-left: 20px;">


                                <p><b> LEGEND:</b></p>
                                Wall: <div class='sectionPicker' id="black" style="width: 32px;
                                height: 32px;
                                background-color: black;
                                border: 1px solid antiquewhite;"> </div> <br>
                                @for(sector <- sectors) {
                                    @sector.sectionName
                                    : <div class='sectionPicker' id="@sector.sectionColor" style="width: 32px;
                                        height: 32px;
                                        background-color:
                                    @sector.sectionColor;
                                        border: 1px solid antiquewhite;"> </div>
                                    <br>
                                    }
                            </div> <br>

                            <div id = "seatTable" class="divTable" style=" width: 450px;
                                height: 450px;
                                border: 1px solid #dbdbdb;
                            ">

                                <div class="divTableBody">

                                @for(seat <- seats) {
                                    @{
                                        i = i - 1
                                    }
                                    @if(i == 0) {
                                        <div class="divTableRow">
                                            @{
                                                i = sizeSqrt
                                            }
                                        }
                                    <div id="seat:@seat.posX:@seat.posY:|@seat.sectionColor" class="divTableCell" style="background-color:
                                    @seat.sectionColor;"></div>
                                    @if(i == 1) {
                                            <!-- DivTableRow end --> </div>
                                    }
                                }
                                </div>
                            <!-- DivTable end -->
                            </div> <br> <br>
                    </div> <!-- seat confi end -->
                }
                <div style="display: inline-block;margin-bottom: 100px;vertical-align:top;margin-left:100px">
                <h3> Work calendar: </h3> <br>
                <div id="calendar">

                </div>
                    <div id="calendarMessage"> </div>
                </div>
                <script>
                        var events = [];
                        @for(time <- times){
                            var time = "@time.date";
                            var date = time.split("-");
                            // nece da radi kad se prosledi string iz liste
                            events.push({
                                'Date': new Date(date[0], date[1] - 1, date[2]),
                                'Title': '@time.startTime - @time.endTime, sector: @time.workingSector',
                                'Link': function (e) {
                                    e.preventDefault();  // da ne bi skakao na vrh stranice
                                    $("#calendarMessage").html("<div class='alert alert-warning' > <a href='#' class='close' data-dismiss='alert' aria-label='close'>&times;" +
                                            " </a> On <b>@time.date </b>, you are working from <b>@time.startTime </b> to <b>@time.endTime </b>. <br> Your sector is: <b>@time.workingSector </b> </div>");
                                }
                            });
                        }

                        var settings = {};
                        var element = $('#calendar')[0];
                        calendar(element, events, settings);
                </script>
            }

        </center>
    </div>


    <script>
            // enable-uj dugme sa SAVE tek kad se promeni neka od vrednosti u text boxevima
            $(document).ready(function () {

                $("#fname").change(function () {
                    $("#saveChanges").prop('disabled', false);
                });
                $("#lname").change(function () {
                    $("#saveChanges").prop('disabled', false);
                });
                $("#npass").change(function () {
                    $("#saveChanges").prop('disabled', false);
                });

                // promena boje dugmeta kad je na profilnoj
                $("#profButton").css("color", "#ffb79b");

            });

    </script>

}