@(email: String, fname: String, lname: String)


@home("Profile"){

  <div>
  <center>

    <form method="post" action="/profile/" accept-charset="UTF-8">
      <label for="fname">First Name:</label> <br>
      <input style="margin-bottom: 15px;" type="text" placeholder="@fname" name="fname" disabled> <br>
        <label for="lname">Last Name:</label> <br>
      <input style="margin-bottom: 15px;" type="text" placeholder="@lname" name="lname" disabled> <br>
        <label for="email">E-mail:</label> <br>
      <input style="margin-bottom: 15px;" type="text" placeholder="@email" name="email" disabled> <br>
      <input style="margin-bottom: 15px;" type="password" placeholder="Type in old password"  name="old_password"> <br>
      <input style="margin-bottom: 15px;" type="password" placeholder="Type in new password"  name="new_password"> <br>
      <input class="btn btn-warning btn-block" type="submit" id="sign-in" value="CHANGE PASSWORD" style="width: 200px">

    </form>

  </center>
  </div>

}