@(ocena: Double, data: List[Report], workers: List[User], meals: List[VictualAndDrink], income: Double)


@home("Report") {


    <center>
        <h3><b> Business report </b> </h3> <br>

          <div style="width: 50em">
              <hr style="border-color:black">
        <h4>Restaurant's rating: <b>@ocena</b></h4>
              <hr style="border-color:black">
              <h4>Restaurant's income: <b>@income RSD</b></h4>
              <hr style="border-color:black">
              <h4>Employee's rating: <b id="workersRating"></b></h4>
                  <select  id="selectWorker" class="form-control"  style="width: 240px;display: inline-block" required>
                  @for(worker <- workers) {
                      <option id="@worker.email">@worker.name @worker.surname (@worker.email)</option>
                  }
                  </select>
                    <button style="display:inline-block" id="goWorker" class="btn btn-warning">Go</button>

              <hr style="border-color:black">
              <h4>Food/drink rating: <b id="mealRating"></b></h4>
              <select  id="selectMeal" class="form-control"  style="width: 240px;display: inline-block" required>
              @for(meal <- meals) {
                  <option id="@meal.name">@meal.name</option>
              }
              </select>
              <button style="display:inline-block" id="goMeal" class="btn btn-warning">Go</button>
              <hr style="border-color:black">

              <h4>Visits chart:</h4>
              <svg id="chart" width="660" height="500"></svg>
          </div>

    </center>

    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
<script>

    $("#goWorker").click(function () {
        var selektovan = $("#selectWorker").val().split("(");
        var workerMail = selektovan[1];
        workerMail = workerMail.slice(0, -1);
        var worker ={"email" : workerMail};
        $("#workersRating").text("0");
        myJsRoutes.controllers.Restaurants.getWorkersRating().ajax({
            data: JSON.stringify(worker),
            contentType: 'application/json',
            success: function (r) {
                $("#workersRating").text(r.rating);

            },
            error: function () {


            }
        });

    });

    $("#goMeal").click(function () {
        var selektovan = $("#selectMeal").val();

        var meal ={"name" : selektovan};
        $("#mealRating").text("0");
        myJsRoutes.controllers.Restaurants.getMealRating().ajax({
            data: JSON.stringify(meal),
            contentType: 'application/json',
            success: function (r) {
                $("#mealRating").text(r.rating);

            },
            error: function () {


            }
        });

    });


        var margin = {top: 40, right: 20, bottom: 30, left: 40},
                width = 660 - margin.left - margin.right,
                height = 400 - margin.top - margin.bottom;

        var formatPercent = d3.format(".0%");

        var x = d3.scale.ordinal()
                .rangeRoundBands([0, width], .1);

        var y = d3.scale.linear()
                .range([height, 0]);

        var xAxis = d3.svg.axis()
                .scale(x)
                .orient("bottom")




        var yAxis = d3.svg.axis()
                .scale(y)
                .orient("left");


        var tip = d3.tip()
                .attr('class', 'd3-tip')
                .offset([-10, 0])
                .html(function(d) {
                    return "<strong>No of visits:</strong> <span style='color:orangered;'>" + d.brPoseta + "</span>";
                })

        var svg = d3.select("#chart").append("svg")
                .attr("width", width + margin.left + margin.right)
                .attr("height", height + margin.top + margin.bottom)
                .append("g")
                .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

        svg.call(tip);
       // var str = $("#data").val();
        // The new data variable.

        var data = [];
        @for(dan <- data){
            var raport = {dan: "@dan.date", brPoseta: @dan.visits};
            data.push(raport);

        }

        // The following code was contained in the callback function.
        x.domain(data.map(function(d) { return d.dan; }));
        y.domain([0, d3.max(data, function(d) { return d.brPoseta; })]);

        svg.append("g")
                .attr("class", "x axis")
                .attr("transform", "translate(0," + height + ")")
                .call(xAxis);

        svg.append("g")
                .attr("class", "y axis")
                .call(yAxis)
                .append("text")
                .attr("transform", "rotate(-90)")
                .attr("y", 6)
                .attr("dy", ".71em")
                .style("text-anchor", "end")
                .text("No of visits");

        svg.selectAll(".bar")
                .data(data)
                .enter().append("rect")
                .attr("class", "bar")
                .attr("x", function(d) { return x(d.dan); })
                .attr("width", x.rangeBand())
                .attr("y", function(d) { return y(d.brPoseta); })
                .attr("height", function(d) { return height - y(d.brPoseta); })
                .on('mouseover', tip.show)
                .on('mouseout', tip.hide)

        function type(d) {
            d.brPoseta = +d.brPoseta;
            return d;
        }


</script>

}
